<div class="bg-green-50 h-screen p-16">
  <div class="shadow-lg rounded-lg bg-indigo-50">
    <div class="font-mono flex">
      <div class="relative w-1/2 ob">
        <img class="object-cover h-full w-full inset-0 m-0 p-0" src="https://images.unsplash.com/photo-1593642532400-2682810df593?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80" />
      </div>
      <div class="w-1/2 text-center">
        <h1 class="text-right text-sm px-4 py-2 text-gray-700">Don't have an account? <span class="font-bold">Sign up </span></h1>
        <div class="my-16">
          <h1 class="text-lg py-2"> Creativo </h1>
            <div>
              <input type="text" placeholder="Username" class="border-2  rounded-md my-2 p-2 outline-none w-7/12" />
            </div>
            <div>
              <input type="password" placeholder="Password" class="border-2  rounded-md my-2 p-2 w-7/12  outline-none" />
            </div>
  
            <div class="flex justify-center text-gray-800 py-2">
              <h2 class="px-4 text-xs"><input type="checkbox"/> Remember me </h2>
              <h2 class="text-xs"><input type="checkbox"/> Forgot Password </h2>
               </div>
               <div class="bg-white border-2 rounded-md cursor-pointer  p-2 my-6 px-8  text-sm inline-block"> Login </div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
